html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav{
    width: 100%;
    background: #262626;
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    height: 750px;
    display: inline-block;
    width: 100%;
}
#section2{
    height: 700px;
    display: inline-block;
    width: 100%;
}
#section3{
    height: 500px;
    background: black;
    display: inline-block;
    width: 100%;
}
#section4{
    height: 400px;
    display: inline-block;
    width: 100%;
}
li a:hover{
    border-bottom: 3pt solid red;
}
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}
#flip{
    height: 60px;
    text-align: center;
    font-size: 20pt;
}

#panel {
  padding: 50px;
  display: none;
}
.container{
    position: absolute;
    width: 700px;
    top: 450px;
    left: 430px;
    font-weight: bold;
}
#info{
    font: Arial;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 930px;
    left: 390px;
}
#info2{
    font: Arial;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 1270px;
    left: 200px;
}
#about{
    font-size: 40pt;
    font-family: Arial;
    text-align: center;
    text-transform: uppercase;
}
#product{
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
    font-family: Times New Roman;
}
#button1{
    position: absolute;
    width: 200px;
    top: 1889px;
    left: 150px;
}
#button2{
    position: absolute;
    width: 200px;
    top: 1889px;
    left: 400px;
}
#button3{
    position: absolute;
    width: 200px;
    top: 1889px;
    left: 650px;
}
#button4{
    position: absolute;
    width: 200px;
    top: 1889px;
    left: 900px;
}
#button5{
    position: absolute;
    width: 200px;
    top: 1889px;
    left: 1150px;
}
#contact{
    font-size: 50pt;
    font-family: Times New Roman;
    position: absolute;
    top: 1990px;
    left: 550px;
}
.fullname{
    position: absolute;
    top: 2120px;
    left: 400px;
}
.email{
    position: absolute;
    top: 2155px;
    left: 400px;
}
.text{
    position: absolute;
    top: 2149px;
    left: 400px;

}
.buttons{
    position: absolute;
    top: 2320px;
    left: 480px;
}