@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

h1,
p
{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

a{
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;

}

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  color: white;
}


.btn-bgstroke {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 90px; 
}

.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}

tr td a:hover{
  color: red;
}

#features ul {
    margin: 50px 0;
}
#features tr td {
    width: 300px;
    padding-top: 140px;
    float: left;
    margin-right: 10px;
    text-align: center;
}


h4 {
    font-size: 24px;
    color: rgb(224, 144, 144);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

h3 {
    font-size: 30px;
    color: rgb(231, 109, 109);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
#primary-content {
    padding: 60px 0;
    text-align: center;
}
#primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
#primary-content a img {
    margin: 20px 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: #03071e;
}

btn-toolbar{
  align-self: center;
}
